# Table of Contents
 <p>

In [1]:
import pandas as pd

In [2]:
s = pd.Series(['banana', 42])

In [3]:
s

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(['Wes', 'Creator'],
             index=['Person', 'Who'])

In [5]:
s

Person        Wes
Who       Creator
dtype: object

In [8]:
d = {'fname': 'daniel', 'lname': 'chen'}

In [9]:
d['fname']

'daniel'

In [10]:
scientist = pd.DataFrame({
    'Name': ['rf', 'wg'],
    'Occuptation': ['chem', 'stat']
})

In [11]:
scientist

  Name Occuptation
0   rf        chem
1   wg        stat

In [13]:
scientists = pd.read_csv('../data/scientists.csv')

In [14]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [15]:
scientists.dtypes

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [22]:
born_time = pd.to_datetime(scientists['Born'],
                          format='%Y-%m-%d')

In [23]:
born_time

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [25]:
died_time = pd.to_datetime(scientists.Died)

In [26]:
scientists.head()

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [27]:
scientists['born_dt'] = born_time

In [28]:
scientists['died_dt'] = died_time

In [29]:
scientists.head()

,Name,Born,Died,Age,Occupation,born_dt,died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14

In [30]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
Name          8 non-null object
Born          8 non-null object
Died          8 non-null object
Age           8 non-null int64
Occupation    8 non-null object
born_dt       8 non-null datetime64[ns]
died_dt       8 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 528.0+ bytes

In [31]:
scientists.dtypes

Name                  object
Born                  object
Died                  object
Age                    int64
Occupation            object
born_dt       datetime64[ns]
died_dt       datetime64[ns]
dtype: object